.fleet
.git
.github
.gradle
.idea
.kotlin

composeApp
iosApp
kotlin-js-store

.dockerignore
.env
.gitignore
docker-compose.yml
Dockerfile
local.properties
lumo.properties
Makefile
README.md

server/src/test

**/build
