.fleet
.git
.github
.gradle
.idea
.kotlin

iosApp
kotlin-js-store

.dockerignore
.gitignore
docker-compose.yml
local.properties
lumo.properties
Makefile
README.md

server/src/test

**/build
**/.gradle
**/node_modules
*.log
